<div class="container">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <h1>Wildlife Tracker</h1>
      <br>
      <br>
      <%= link_to('Sign Up', '/sign_up', class: 'btn btn-primary') %>
      <%= link_to('Login', '/login', class: 'btn btn-primary') %>
    </div>
  </div>
</div>
